// 左侧菜单宽度，如果这里修改了，将需要修改settings.js中的sidebarWidth
$sidebar-width: 210px;

//左侧菜单收缩后的宽度，如果这里修改了，将需要修改settings.js中的sidebarWidthCollapsed
$sidebar-width-collapsed: 48px;

//内容区顶部高度
$top-height: 48px;

//水平布局下的顶部高度为64px
$top-height-horizontal: 64px;

//logo区顶部高度
$logo-height: 60px;

//内容区内边距
$content-padding: 20px;


