*{
    margin: 0;
    padding: 0;
}

/*滚动条*/
/*滚动条整体部分,必须要设置*/
// ::-webkit-scrollbar {
//   display: none;
// }

::-webkit-scrollbar {
  width: 5px !important;
  height: 0 !important;
}
/*
/*滚动条的轨道*/
// ::-webkit-scrollbar-track {
//   // background: #fff;
// }

// /*滚动条的滑块按钮*/
// ::-webkit-scrollbar-thumb {
//   border-radius: 5px;
//   background-color: #d9d9d9 !important;
//   transition: all 0.2s;
//   -webkit-transition: all 0.2s;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background-color: #b0abab !important;
// }

// /*滚动条的上下两端的按钮*/
// ::-webkit-scrollbar-button {
//   height: 0px;
//   width: 0;
// }

:where(.css-dev-only-do-not-override-13gz7x).ant-menu-horizontal {
  border: none;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-menu-light.ant-menu-root.ant-menu-inline, :where(.css-dev-only-do-not-override-1p3hq3p).ant-menu-light.ant-menu-root.ant-menu-vertical{
  border: none;
}

:where(.css-dev-only-do-not-override-13gz7x).ant-menu-light.ant-menu-root.ant-menu-inline, :where(.css-dev-only-do-not-override-13gz7x).ant-menu-light.ant-menu-root.ant-menu-vertical{
  border: none;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-layout .ant-layout-header {
    padding: 0 $top-padding;
}

:where(.css-dev-only-do-not-override-13gz7x).ant-layout .ant-layout-header {
    padding: 0 $top-padding;
}