* {
  margin: 0;
  padding: 0;
}

:where(.ant-menu-horizontal) {
  border: none !important;
}

:where(.ant-menu.ant-menu-root.ant-menu-inline),
:where(.ant-menu.ant-menu-root.ant-menu-vertical) {
  border: none !important;
}

:where(.ant-layout .ant-layout-header) {
  padding: 0 $top-padding !important;
}

:where(.ant-layout .ant-layout-header .ant-menu) {
  line-height: 34px !important;
}

//后续可能需要修改，不能固定死
:where(.ant-menu.ant-menu-horizontal > .ant-menu-item),
:where(.ant-menu.ant-menu-horizontal > .ant-menu-submenu) {
  border-radius: 4px !important;
}

:where(.ant-menu.ant-menu-horizontal > .ant-menu-item-selected),
:where(.ant-menu.ant-menu-horizontal > .ant-menu-submenu-selected) {
  &::after {
    display: none !important;
  }
}

:where(.ant-menu-dark) {
  background: $component-bg-color !important;
}

:where(.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline) {
  background: $component-bg-color !important;
}

:where(.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline) {
  background: transparent !important;
}
:where(.ant-menu-dark.ant-menu-inline .ant-menu-item):hover {
  background: rgba(255, 255, 255, 0.12) !important;
}

:where(.ant-menu-dark.ant-menu-submenu > .ant-menu) {
  background: $component-bg-color !important;
}
